.cta {
  -webkit-transform: skew(-5deg, 5deg);
  -moz-transform: skew(-5deg, 5deg);
  -ms-transform: skew(-5deg, 5deg);
  -o-transform: skew(-5deg, 5deg);
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
.cta .cta-text {
  -webkit-box-shadow: 10px 10px 5px 5px yellow;
  -moz-box-shadow: 10px 10px 5px 5px yellow;
  box-shadow: 10px 10px 5px 5px yellow;
  -webkit-transform: skew(10deg, 20deg);
  -moz-transform: skew(10deg, 20deg);
  -ms-transform: skew(10deg, 20deg);
  -o-transform: skew(10deg, 20deg);
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 82px 0 0;
}
.cta .cta-text button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 170px;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
}
.cta .cta-text button:hover {
  background: black;
  color: white;
}
