/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
@media (max-width:500px) {
  h2 {
    font-size: 2.2rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
@media (max-width:500px) {
  h4 {
    font-size: 2rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  border-bottom: 2px dashed #C0C0C0;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 20px;
}
header .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 110px;
  padding-right: 110px;
}
@media (max-width:500px) {
  header .navContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width:500px) {
  header .navContainer nav {
    text-align: center;
  }
}
header .navContainer nav a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width:500px) {
  .home {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.home .content-header {
  border-bottom: 2px dashed #C0C0C0;
}
.home .content-header img {
  margin-bottom: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-section {
    flex-wrap: nowrap;
    justify-content: center;
    align-self: center;
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width:500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width:500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width:500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width:500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-pick {
    display: inline-block;
    padding: 20px;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .home .content-pick .destination {
    width: 100%;
  }
}
.home .content-pick .btn {
  background-color: teal;
  text-align: center;
  color: white;
  padding: 10px 40px 10px 40px;
  border-radius: 12px;
}
@media (max-width:500px) {
  .home .content-pick .btn {
    background-color: #11aecf;
  }
}
form {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: teal;
  color: #fff;
  padding: 50px 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}
.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}
.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}
.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}
.flex-outer li p {
  margin: 0;
}
.flex-outer li input:not([type="checkbox"]),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}
.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}
.flex-inner li {
  width: 100px;
}
