/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 8rem;
  border-bottom: 2px dashed #C0C0C0;
  margin: 0;
}
nav .navLinks a {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 2.5rem;
  margin-bottom: 3rem;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav {
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  nav .logo {
    width: 100%;
  }
  nav .navLinks a {
    font-size: 1.2rem;
    margin-left: none;
  }
  nav .navLinks a:not(:last-child) {
    margin-right: 5rem;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .head-content {
  margin-top: -3rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 2px dashed #C0C0C0;
}
.home .content-section .head-content h2 {
  color: #FFEBCD;
  animation-duration: 500ms;
  text-decoration: none;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    color: black;
    opacity: 0.9;
  }
}
.home .content-section .head-content img {
  margin-bottom: 2rem;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  font-size: 1.5rem;
  width: 80%;
  height: 3.5rem;
  padding: 1rem;
  background-color: #008080;
  text-align: center;
  border-radius: 10px;
  color: white;
  animation-duration: 600ms;
  text-decoration: none;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    color: black;
    background-color: #C0C0C0;
    opacity: 0.9;
  }
}
@media (max-width: 500px) {
  .home {
    padding: 0 2rem;
    width: 100%;
  }
  .home .content-section {
    justify-content: space-evenly;
    width: 100%;
  }
  .home .content-section .text-content {
    width: 100%;
    padding-left: none;
  }
  .home .content-section .img-content {
    width: 100%;
    padding-right: none;
  }
  .home .content-section .img-content img {
    width: 100%;
  }
  .home .inverse-content {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .home .inverse-content .img-content {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .home .inverse-content .img-content img {
    width: 100%;
  }
  .home .inverse-content .text-content {
    width: 100%;
  }
  .home .content-destination {
    width: 100%;
  }
  .home .content-pick {
    flex-wrap: wrap;
    width: 100%;
    padding: 3rem 2rem 0 2rem;
  }
  .home .content-pick .destination {
    width: 98%;
    margin-left: auto;
  }
  .home .content-pick .destination .btn {
    color: white;
    font-size: 1.5rem;
    width: 98%;
    height: 3.5rem;
    padding: 1rem;
    background-color: #008080;
    text-align: center;
    border-radius: 10px;
  }
}
