/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 2%;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 2%;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 2%;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 90%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px grey dashed;
}
nav div {
  width: 40%;
  padding: 1%;
  margin: 0 5%;
}
nav .links {
  width: 50%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5%;
  justify-items: end;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
h2 {
  font-size: 3rem;
}
p {
  line-height: 3.5rem;
  font-size: 2rem;
}
.home .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 45%;
  padding-right: 1%;
}
.home .content-section .img-content {
  width: 45%;
  padding-left: 1%;
}
.home .content-section .img-content img {
  border-radius: 2%;
  width: 80%;
}
.home .inverse-content {
  padding-bottom: 4%;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 80%;
  margin: 0 10%;
  padding: 2% 0;
}
.home .content-destination img {
  width: 100%;
  border-radius: 2%;
}
.home .content-pick {
  padding-top: 4%;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin-bottom: 3%;
}
.home .content-pick .destination button {
  border: 1px solid black;
  background-color: teal;
  width: 70%;
  color: white;
  padding: 3% 0;
  border-radius: 6px;
  margin: 5% 2% 0%;
}
.home .content-pick .destination button:hover {
  background-color: #00b3b3;
  cursor: pointer;
}
.bannerHome {
  width: 100%;
}
.bannerHome img {
  width: 90%;
  margin: 0 5%;
}
.welcom {
  width: 90%;
  margin: 0 5%;
  border-bottom: 1px grey dashed;
}
div {
  padding: 2% 1%;
}
