.marginten {
  padding: 10px;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.radius {
  border-radius: 8px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 500px) {
  .home .content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
.home .content-section .text-content .img-content {
  width: 48%;
  padding-left: 1%;
}
.home .content-section .text-content img {
  border-radius: 10px;
  border-radius: 8px;
}
.middle-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px dotted grey;
}
@media (max-width: 500px) {
  .middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.middle-section .first-child {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.middle-section .first-child img {
  width: 50%;
  border-radius: 8px;
}
.middle-section .second-child {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.middle-section img {
  width: 50%;
  border-radius: 8px;
}
.pick {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-left: 150px;
  width: 60%;
}
.pick img {
  width: 50%;
  border-radius: 8px;
}
.content-pick {
  display: flex;
  text-align: center;
  width: 100%;
  border-top: 1px dotted grey;
  align-content: space-around;
  padding: 10px;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
