/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.navContainer {
  display: flex;
  border-bottom: 2px dashed silver;
  justify-content: space-evenly;
  padding: 2rem;
}
@media (max-width:500px) {
  .navContainer {
    flex-direction: column;
    text-align: center;
  }
}
.navContainer .navTitle {
  margin-right: 10rem;
}
@media (max-width:500px) {
  .navContainer .navTitle {
    text-align: center;
    margin-left: 8rem;
  }
}
.navContainer .navigation {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
.navContainer a {
  color: black;
  text-decoration: none;
  margin: 0 3rem;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width:500px) {
  .home .content-section .text-content {
    width: 95%;
    margin: 0 2rem 2rem 2rem;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width:500px) {
  .home .content-section .img-content {
    width: 100%;
    padding: 0;
    align-self: center;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width:500px) {
  .home .content-section .img-content img {
    width: 95%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
@media (max-width:500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width:500px) {
  .home .inverse-content .text-content {
    width: 95%;
    margin: 0 2rem 2rem 2rem;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width:500px) {
  .home .content-destination {
    width: 93%;
    margin: 0 2% 3rem 4%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .home .content-pick .destination {
    width: 80%;
    margin: 0 4% 2rem 9%;
  }
}
@media (max-width:500px) {
  .mainHeader .headerContent .imgHeader {
    padding: 0 2.5rem;
  }
}
.mainHeader h2 {
  padding: 1.5rem 0rem;
}
@media (max-width:500px) {
  .mainHeader h2 {
    margin-left: 2.5rem;
  }
}
.mainHeader p {
  border-bottom: 2px dashed silver;
}
@media (max-width:500px) {
  .mainHeader p {
    padding: 0 2rem 2rem 2rem;
  }
}
.btn {
  height: 4rem;
  border: 1px solid teal;
  font-size: 1.8rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 20rem;
  color: white;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  .btn {
    width: 40rem;
    background: #17a2b8;
    border: none;
  }
}
