/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
header {
  width: 75%;
  margin: 0 12.5%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border-bottom: 1px dashed #c0c0c0;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
    border-bottom: 0px dashed #c0c0c0;
  }
}
nav {
  width: 50%;
  font-size: 1.5rem;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  nav {
    width: 132%;
    justify-content: space-around;
    border-bottom: 1px dashed #c0c0c0;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    margin-top: 5%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
  border: 1px solid red;
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content:hover {
  transition-duration: 3s;
  transform: rotateX(360deg);
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .home .content-pick {
    border: 1px solid pink;
    flex-direction: column;
    align-items: center;
  }
}
.home .welcome-section {
  margin-bottom: 3%;
  border-bottom: 1px dashed #c0c0c0;
}
.home .welcome-section .welcome {
  margin: 2% 0;
}
.home .btn {
  border: 1px solid black;
  border-radius: 10px;
  background: #17a2b8;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 1.7rem;
  padding: 3% 0;
}
.home .btn:hover {
  background: #0f6674;
  color: black;
}
@media (max-width: 500px) {
  .home {
    max-width: 400px;
  }
}
.home form {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border: 1px solid black;
}
@media (max-width: 500px) {
  .home form {
    width: 100%;
  }
}
.home form .top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: 1.3rem;
}
.home form .text-area {
  display: flex;
}
@media (max-width: 500px) {
  .home form .text-area {
    width: 50%;
  }
}
.home form .text-area input:hover {
  background: #f4f4f4;
  color: black;
}
