.body-fadein {
  animation: 2s fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
  animation: 2s fadein;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-bar nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .nav-bar nav {
    flex-direction: column;
  }
}
.nav-bar nav .nav-bar-logo {
  display: flex;
  margin-right: auto;
}
@media (max-width: 768px) {
  .nav-bar nav .nav-bar-logo {
    width: 100%;
    justify-content: center;
  }
}
.nav-bar nav .nav-bar-links {
  display: flex;
}
@media (max-width: 768px) {
  .nav-bar nav .nav-bar-links {
    justify-content: space-evenly;
    width: 100%;
  }
}
.nav-bar nav .nav-bar-links a {
  font-size: 1.8rem;
  margin: 10px;
  text-decoration: none;
  color: black;
  opacity: 0.6;
  transition: 300ms;
}
.nav-bar nav .nav-bar-links a:hover {
  opacity: 1;
  transition: 300ms;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 768px) {
  .home .content-section .text-content {
    width: 90%;
    margin: auto;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 768px) {
  .home .content-section .img-content {
    width: 90%;
    margin: auto;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #c0c0c0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 768px) {
  .home .inverse-content .text-content h2 {
    margin-top: 15px;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 768px) {
  .home .content-destination {
    width: 90%;
    margin: auto;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .home .content-destination img {
    margin-bottom: 20px;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #c0c0c0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .home .content-pick .destination {
    width: 80%;
    margin: 30px auto;
  }
}
.home .content-pick .destination .btn {
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
  background: #17a2b8;
  color: white;
  border-radius: 10px;
}
.home .content-pick .destination .btn:hover {
  transition: 300ms;
  opacity: 1;
}
.home .main-header {
  border-bottom: 2px dashed grey;
}
@media (max-width: 768px) {
  .home .main-header {
    width: 90%;
    margin: auto;
  }
}
.home .main-header img {
  border-top: 2px dashed grey;
}
.home .main-header h1 {
  margin-top: 20px;
}
.home .contact-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid black;
  margin: 30px auto;
}
.home .contact-form h3 {
  font-size: 3rem;
  background: #17a2b8;
  color: white;
  padding: 10px;
}
.home .contact-form input,
.home .contact-form select,
.home .contact-form textarea {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.home .contact-form #message {
  margin-bottom: 10px;
}
.home .contact-form #submit {
  background: #17a2b8;
  color: white;
  font-size: 2.7rem;
  margin-bottom: 20px;
}
