/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.button {
  width: 125px;
  height: 32px;
  background: white;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 20px;
  -webkit-box-shadow: 10px 10px;
  -moz-box-shadow: 10px 10px;
  box-shadow: 10px 10px;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
@media (max-width:768px) {
  .container {
    width: 100%;
    height: auto;
  }
}
@media (max-width:400px) {
  .container {
    width: 100%;
    height: auto;
  }
}
header {
  width: 100%;
  display: flex;
}
@media (max-width:768px) {
  header {
    width: 100%;
  }
}
@media (max-width:768px) {
  header {
    width: 100%;
  }
}
header nav {
  margin-top: 40px;
  width: 69.3181%;
  justify-content: space-between;
  display: flex;
  font-size: 1.6rem;
}
header nav a {
  text-decoration: none;
  color: #b0b0b0;
}
header nav a:hover {
  text-decoration: underline;
  color: black;
}
header .logo {
  align-self: flex-end;
  margin: 28px 0 0 10.3409%;
  width: 20.7954%;
}
header .logo:hover {
  -webkit-transform: skew(20deg, 20deg);
  -moz-transform: skew(20deg, 20deg);
  -ms-transform: skew(20deg, 20deg);
  -o-transform: skew(20deg, 20deg);
}
.cta {
  display: flex;
  margin-top: 72px;
  justify-content: flex-end;
}
@media (max-width:768px) {
  .cta {
    width: 100%;
    justify-content: center;
  }
}
.cta .cta-text {
  font-size: 72px;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 0 9.3181% 0 0;
}
@media (max-width:768px) {
  .cta .cta-text {
    margin: 0;
  }
}
.cta .cta-text h1 {
  text-shadow: 10px 10px gray;
}
.cta .cta-text button {
  border: 1px double black;
  font-size: 16px;
  background: white;
  width: 43.4938%;
  height: 32px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 10px 10px;
  -moz-box-shadow: 10px 10px;
  box-shadow: 10px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 1px 1.7%;
}
.cta .cta-text button:hover {
  background: white;
  color: black;
  -webkit-opacity: 0.1;
  -moz-opacity: 0.1;
  opacity: 0.1;
}
.cta img {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  width: 43.1%;
}
@media (max-width:768px) {
  .cta img {
    display: none;
  }
}
@media (max-width:400px) {
  .cta img {
    display: none;
  }
}
.cta img:hover {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 1.6rem;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
.main-content .top-content .text-content {
  font-size: 1.6rem;
  width: 50%;
}
.main-content .top-content button {
  width: 125px;
  height: 32px;
  background: white;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 20px;
  -webkit-box-shadow: 10px 10px;
  -moz-box-shadow: 10px 10px;
  box-shadow: 10px 10px;
}
.main-content .top-content button:hover {
  background-color: #cccccc;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
  width: 100%;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.main-content .bottom-content .text-content {
  width: 33.33%;
}
.main-content .bottom-content .text-content button {
  width: 125px;
  height: 32px;
  background: white;
  border: 1px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin-top: 20px;
  -webkit-box-shadow: 10px 10px;
  -moz-box-shadow: 10px 10px;
  box-shadow: 10px 10px;
}
.main-content .bottom-content .text-content button:hover {
  background-color: #cccccc;
}
.main-content .bottom-content .text-content p {
  padding-right: 6.82%;
}
.contact {
  font-size: 1.6rem;
}
.contact p {
  margin: 20px 0;
}
footer {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 1.6rem;
}
