.btn {
  color: white;
  background-color: #17A2B8;
  font-size: 1.9rem;
  display: block;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 170px;
  height: 40px;
}
.btn:hover {
  background-image: linear-gradient(aquamarine, #006280);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  margin-left: 60%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-right: 30px;
}
nav a {
  font-size: 1.6rem;
  text-decoration: none;
}
nav a:hover {
  text-shadow: 0 0 5px aqua;
}
@media (max-width: 500px) {
  nav {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 0;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width: 500px) {
  flex-direction: column;
  align-items: center;
}
header {
  max-width: 800px;
  width: 100%;
  border-bottom: 2px dashed silver;
  padding: 20px;
  margin: 20px 0;
}
@media (max-width: 500px) {
  header {
    margin-bottom: 20px;
  }
}
h1 {
  font-size: 4rem;
  margin-left: 40px;
}
@media (max-width: 500px) {
  h1 {
    margin: 0;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
}
.img-bus {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .img-bus {
    width: 90%;
    height: 90%;
  }
}
.welcome {
  width: 75%;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-bottom: 2px dashed silver;
}
@media (max-width: 500px) {
  .welcome {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .home {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.home .content-section {
  width: 75%;
  margin: 0 auto 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
    align-content: center;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .content-destination {
    display: inline;
    flex-direction: column;
  }
}
.content-destination img {
  border-radius: 10px;
}
.content-pick {
  width: 75%;
  margin: 0 auto 30px;
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .content-pick {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
  text-align: center;
}
@media (max-width: 500px) {
  .content-pick .destination {
    width: 90%;
    text-align: left;
  }
}
@media (max-width: 500px) {
  .content-pick .btn {
    width: 100%;
    text-align: center;
  }
}
