/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body,
a {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p,
a {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.one {
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 1rem;
}
@media (max-width: 500px) {
  .one {
    width: 100%;
  }
}
.one .top nav {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .one .top nav {
    width: 100%;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
  }
}
.one .top nav a {
  text-decoration: none;
  color: #212529;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
@media (max-width: 500px) {
  .one .top nav a {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0rem;
    padding-right: 3.5rem;
  }
}
.one h1 {
  align-self: flex-end;
  width: 28%;
  margin-left: 43rem;
}
@media (max-width: 500px) {
  .one h1 {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1rem;
  }
}
hr {
  border: none;
  border-top: 2px dashed #C0C0C0;
  height: 0px;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 500px) {
  hr {
    width: 100%;
  }
}
.footer {
  width: 50%;
  margin: auto;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
@media (max-width: 500px) {
  .footer {
    width: 100%;
  }
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.section {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 48%;
  padding-right: 1%;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .section {
    width: 85%;
  }
}
.bus {
  margin: auto;
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .bus {
    width: 87%;
  }
}
@media (max-width: 500px) {
  .home {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 90%;
    padding-left: 3rem;
  }
}
.home .content-pick .destination .btn {
  background-color: #17A2B8;
  border: none;
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  border-radius: 10px;
  text-align: center;
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    width: 100%;
  }
}
