/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-navigation {
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 800px) {
  .main-navigation .logo-heading {
    margin: 10px 43% 20px 43%;
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .main-navigation .logo-heading {
    margin: 0px 36% 15px 36%;
    font-size: 3rem;
  }
}
.main-navigation .nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .main-navigation .nav-container {
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 800px) {
  .main-navigation .nav-container {
    flex-wrap: wrap;
    width: 100%;
  }
}
.main-navigation .nav-container .nav {
  width: 50%;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .main-navigation .nav-container .nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main-navigation .nav-container .nav .nav-link {
  text-decoration: none;
  color: #212529;
  font-size: 1.6rem;
  margin: 0 6%;
}
.main-navigation .nav-container .nav .nav-link:hover {
  color: #17A2B8;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  padding: 0 5%;
}
.home .main-header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .main-header .fun-bus {
  margin-bottom: 30px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    padding-right: 0;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 80%;
  }
}
.home .content-pick .destination .btn {
  width: 100%;
  height: 40px;
  background-color: #17A2B8;
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .content-pick .destination .btn:hover {
  background-color: #FFFFFF;
  color: #17A2B8;
}
.home .content-pick .destination .btn a {
  width: 100%;
  height: 40px;
  background-color: #17A2B8;
  color: #FFFFFF;
  border: 1px solid #C0C0C0;
  cursor: pointer;
  border-radius: 15px;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.home .content-pick .destination .btn a:hover {
  background-color: #FFFFFF;
  color: #17A2B8;
}
