/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
Html {
  font-size: 62.5%;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.fontbasis {
  font-family: sans-serif;
}
.sitewidth {
  width: 90%;
}
.topBar {
  height: 10vh;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: dashed 2px lightgrey;
}
.topBar nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 550px) {
  .topBar nav {
    display: none;
  }
}
.topBar nav a {
  text-decoration: none;
  color: black;
  font-family: sans-serif;
}
.topBar nav a div {
  font-family: sans-serif;
  font-size: 1.7rem;
}
.topBar nav a div:hover {
  color: lightseagreen;
}
.topBar h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}
.welcome {
  width: 90%;
  margin: 0 auto;
}
.welcome img {
  margin: 0 auto 0 auto;
  width: 100%;
  height: auto;
}
.welcome div {
  width: 100%;
}
@media (max-width: 550px) {
  .welcome div {
    margin: 0 auto 0 auto;
  }
}
.welcome h2 {
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
}
@media (max-width: 550px) {
  .welcome h2 {
    padding-top: 3%;
  }
}
.welcome p {
  font-size: 2.2rem;
  font-family: sans-serif;
}
hr {
  border: dashed 2px lightgrey;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 3%;
}
.containers {
  margin-top: 2%;
  margin-bottom: 2%;
}
.content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 3%;
}
.content-section div {
  width: 350px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-section div p {
  font-size: 2rem;
  font-family: sans-serif;
}
.content-section div h2 {
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
}
.content-section .img-content img {
  width: 500px;
  height: 350px;
  border-radius: 2%;
}
@media (max-width: 550px) {
  .content-section .img-content img {
    width: 350px;
    height: auto;
  }
}
.content-destination {
  width: 60%;
  margin: 0 auto;
}
.content-destination p {
  width: 100%;
  font-size: 2rem;
  font-family: sans-serif;
}
.content-destination h2 {
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
}
.content-destination img {
  width: 100%;
  height: 250px;
  border-radius: 2%;
  opacity: 0.7;
}
.content-pick {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.content-pick div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}
.content-pick div h4 {
  font-family: 'Indie Flower', cursive;
  font-size: 2.5rem;
  margin-bottom: 0%;
}
.content-pick div p {
  font-size: 2rem;
  font-family: sans-serif;
}
.content-pick div a {
  background-color: lightseagreen;
  text-decoration: none;
  width: 300px;
  height: 30px;
  border-radius: 5%;
  margin: 0 auto;
}
.content-pick div a div {
  color: white;
  font-size: 1.2rem;
  margin: 0 auto 0 auto;
  padding-top: 2%;
  font-family: sans-serif;
}
