/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  max-width: 775px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0 5%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  border-bottom: 2px dashed #C0C0C0;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  max-width: 800px;
  padding: 2% 0;
}
@media screen and (max-width: 800px) {
  header .navbar {
    padding: 2% 3%;
  }
}
@media screen and (max-width: 500px) {
  header .navbar {
    display: flex;
    justify-content: initial;
    align-items: initial;
    flex-flow: column wrap;
  }
}
header .navbar .logo {
  width: 30%;
}
@media screen and (max-width: 500px) {
  header .navbar .logo {
    width: 100%;
    text-align: center;
  }
}
header .navbar nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}
@media screen and (max-width: 500px) {
  header .navbar nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }
}
header .navbar nav a {
  color: #212529;
  font-size: 1.6rem;
  padding: 10px 15px;
  text-decoration: none;
}
header .navbar nav a:hover {
  color: #317e80;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .header-content {
  border-bottom: 2px dashed #C0C0C0;
}
.home .header-content img {
  margin-bottom: 30px;
}
.home .header-content .text-content {
  width: 100%;
}
.home .header-content .text-content p {
  padding: 2% 0;
}
.home .content-section {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-flow: row wrap;
  margin: 30px 0;
}
.home .content-section .text-content {
  width: 48%;
}
@media screen and (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media screen and (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .inverse-content {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-flow: row wrap;
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media screen and (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    justify-content: initial;
    align-items: initial;
    flex-flow: column-reverse wrap;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media screen and (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  border-bottom: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-flow: row wrap;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 35px;
}
@media screen and (max-width: 500px) {
  .home .content-pick .destination {
    width: 100%;
    padding: 0 10%;
  }
}
.home .content-pick button {
  background-color: #317e80;
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 2rem;
  height: 50px;
  padding: 10px 0;
  text-align: center;
  width: 85%;
  cursor: pointer;
}
.home .content-pick button:hover {
  border: 2px solid #212529;
}
@media screen and (max-width: 500px) {
  .home .content-pick button {
    width: 100%;
  }
}
.home .book-vacation {
  width: 100%;
  padding: 30px 0;
}
.home .book-vacation .contact fieldset {
  width: 100%;
}
.home .book-vacation .contact input[type="text"],
.home .book-vacation .contact input[type="email"],
.home .book-vacation .contact input[type="tel"],
.home .book-vacation .contact input[type="url"],
.home .book-vacation .contact select,
.home .book-vacation .contact textarea {
  width: 100%;
  background: white;
  margin: 10px 0 5px;
  padding: 10px;
  font-size: 1.6rem;
}
.home .book-vacation .contact select {
  height: 50px;
  color: black;
}
.home .book-vacation .contact textarea {
  height: 100px;
}
.home .book-vacation .contact button {
  margin-top: 15px;
  background-color: #317e80;
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 2rem;
  height: 50px;
  padding: 10px 0;
  text-align: center;
  width: 200px;
  cursor: pointer;
}
.home .book-vacation .contact button:hover {
  border: 2px solid #212529;
}
@media screen and (max-width: 800px) {
  .home .book-vacation .contact button {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .home .book-vacation .contact button {
    width: 100%;
  }
}
