.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@keyframes colors {
  0% {
    background-color: #d1f533;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: #ff00f2;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: #9696c0;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: #e87cf1;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: #f8ecec;
    left: 0px;
    top: 0px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 20px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 20px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#home {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  animation-name: colors;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#home nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 15px;
}
#home nav a {
  text-decoration: none;
  font-size: 20px;
  justify-content: space-between;
}
@media (max-width:500px) {
  #home nav a {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#home nav a .bus-image {
  padding: 20px;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width:500px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #home .welcome-content {
    border-bottom: 1px dashed #C0C0C0;
  }
  #home .welcome-content .bus-content {
    padding-bottom: 30px;
    border-bottom: 1px dashed #C0C0C0;
  }
}
#home .content-section {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  #home .content-section {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
#home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
#home .content-section .img-content img {
  border-radius: 10px;
}
#home .content-section-inverse-content {
  display: flex ;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width:500px) {
  #home .content-section-inverse-content {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#home .content-section-inverse-content .text-content {
  width: 100%;
  padding-left: 2%;
  padding-right: 0%;
}
#home .content-section-inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 30px;
}
#home .content-destination {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  border-bottom: 2px dashed #C0C0C0;
}
#home .content-destination .your-destination {
  display: flex;
  display: inline;
  justify-content: space-between;
}
#home .content-destination .destination-image {
  margin: 7% 0;
}
#home .content-destination .destination-image img {
  width: 100%;
}
#home .content-choice {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width:500px) {
  #home .content-choice {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#home .content-choice .destination {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  #home .content-choice .destination {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
#home .content-choice .destination .btn {
  background: teal;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}
