.mobile-content {
  max-width: 450px;
  margin: 10px auto 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
header {
  border-bottom: 2px dashed lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header nav {
  margin: 0px 25px 0px 0px;
}
@media (max-width: 500px) {
  header nav {
    width: 100%;
    margin: 0;
  }
}
header nav ul {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  header nav ul {
    justify-content: space-around;
  }
}
header nav ul li {
  padding-right: 30px;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  header nav ul li {
    padding: 0 0 10px 0;
  }
}
header .logo {
  margin: 10px 30px 0px 22px;
}
header .logo p {
  font-family: 'Indie Flower', cursive;
  font-size: 4.2rem;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .top-content {
  border-bottom: 2px dashed lightgrey;
}
@media (max-width: 500px) {
  .home .top-content {
    max-width: 450px;
    margin: 10px auto 0 auto;
  }
}
.home img {
  margin-bottom: 10px;
}
.home h2 {
  margin-top: 10px;
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    max-width: 450px;
    margin: 10px auto 0 auto;
    margin-top: 10px;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
  width: 100%;
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
.home .content-destination {
  width: 75%;
  margin: 30px auto 20px;
}
@media (max-width: 500px) {
  .home .content-destination {
    max-width: 450px;
    margin: 20px 16px 0 16px;
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .home .content-pick {
    max-width: 450px;
    margin: 10px auto 0 auto;
    width: 80%;
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 100%;
    align-content: center;
  }
}
.home .content-pick .destination .btn {
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  padding: 12px;
  color: white;
  background-color: #008080;
  width: 85%;
  cursor: pointer;
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    width: 100%;
    background-color: #17A2B8;
  }
}
