/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  width: 100%;
  border-bottom: 2px dashed #C0C0C0;
}
.nav-container .nav-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 800px;
  margin: 20px auto;
  align-items: baseline;
  padding-bottom: 5px;
}
@media (max-width: 500px) {
  .nav-container .nav-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2;
    margin: 15px 0 5px 0 ;
  }
}
@media (max-width: 500px) {
  .nav-container .nav-content-container h1 {
    font-size: 3rem;
    padding-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .nav-container .nav-content-container .nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
}
.nav-container .nav-content-container .nav a {
  color: #212529;
  font-size: 1.6rem;
  text-decoration: none;
  padding-right: 30px;
}
@media (max-width: 500px) {
  .nav-container .nav-content-container .nav a {
    padding-right: 0;
    padding-top: 5px;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
@media (max-width: 500px) {
  .home {
    padding: 0 25px;
    overflow: hidden;
  }
}
.home header {
  border-bottom: 2px dashed silver;
  padding-bottom: 13px;
}
.home header h2 {
  padding-top: 18px;
}
.home header img {
  -webkit-animation: roll-in-left 0.6s ease-out both;
  animation: roll-in-left 0.6s ease-out both;
}
@-moz-keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
    padding-left: 0;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    order: 1;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    order: 2;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .home .content-destination {
    width: 100%;
  }
}
.home .content-destination img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-destination img {
    width: 100%;
  }
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 100%;
    justify-content: center;
    padding: 5px 30px 0 45px;
  }
}
.home .content-pick .destination .btn {
  padding: 13px;
  width: 360px;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  background-color: teal;
  font-weight: bold;
  border-radius: 15px;
}
