.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
.main-content .top-content .features {
  height: 30px;
  width: 60px;
  background-color: red;
}
.main-content .top-content .about {
  height: 5px;
  width: 5px;
  background-color: green;
}
.main-content .top-content .about:hover {
  height: 20px;
  width: 40px;
}
.main-content .middle-img {
  -webkit-opacity: 0.35;
  -moz-opacity: 0.35;
  opacity: 0.35;
  display: block;
  margin: 30px auto;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
.main-content .bottom-content .services {
  height: 10px;
  width: 10px;
  background-color: white;
}
.main-content .bottom-content .services:hover {
  background-color: #0d0d0d;
  height: 100px;
  width: 100%;
}
.main-content .bottom-content .product {
  height: 65px;
  width: yellow;
  background-color: red;
}
.main-content .bottom-content .vision {
  height: 100px;
  width: 100px;
  background-color: pink;
}
.main-content .bottom-content .vision:hover {
  visibility: hidden;
  background-color: #41000b;
}
.main-content .bottom-content p {
  padding-right: 20px;
}
