#button-styles .top-buttons {
  border: 1px solid black;
  width: 76px;
  height: 28px;
  padding: 6px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #0f3a37;
  margin-top: 10px;
  background: white;
}
#button-styles .top-buttons:hover {
  background-color: #000099;
}
#button-styles .bottom-buttons {
  width: 76px;
  height: 28px;
  padding: 6px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  margin-top: 10px;
  background: #7689b1;
}
#button-styles .bottom-buttons:hover {
  background: wheat;
}
.main-content {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 75px 0 35px 0;
  padding: 35px 0;
  font-size: 16px;
  line-height: 18px;
}
.main-content .top-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .top-content {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .main-content .top-content {
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
}
.main-content .top-content button {
  border: 1px solid black;
  width: 76px;
  height: 28px;
  padding: 6px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #0f3a37;
  margin-top: 10px;
  background: white;
}
.main-content .top-content button:hover {
  background-color: #000099;
}
.main-content .middle-img {
  display: block;
  margin: 30px auto;
}
.main-content .bottom-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .main-content .bottom-content {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .main-content .bottom-content {
    flex-direction: column;
    justify-content: space-around;
    height: 440px;
  }
}
.main-content .bottom-content p {
  padding-right: 20px;
}
.main-content .bottom-content button {
  width: 76px;
  height: 28px;
  padding: 6px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: white;
  margin-top: 10px;
  background: #7689b1;
}
.main-content .bottom-content button:hover {
  background: wheat;
}
