.btn {
  background-color: #17A2B8;
  border: 1px solid transparent;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  width: 80%;
}
