.nav-container
    @include flexbox()
    align-items: baseline
    justify-content: space-between
    border-bottom: 1px dashed $navigation-border
    width: 100%
    nav
        ul
            @include flexbox
            justify-content: flex-end
            li
                padding: 3rem 2rem
                font-size: 1.6rem