body {
    background-color: white;
    @media @laptop {
        background-color: white;
    }
    @media @tablet {
        background-color: gray;
    }
    @media @phone {
        background-color: black;
    }


}