/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;

    @media @laptop {
        justify-content: center;
    }
    @media @phone {
        flex-wrap: wrap;
    }

    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;

        @media @laptop {
            margin: 0 40px 20px 0;
            font-size: 56px;
        }
        @media @phone {
            margin: 30px 0;
        }

         button {
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            .button-creator(170px, 32px, red, blue);
            
            @media @laptop {
                width: 140px;
                height: 28px;
            }

            cursor: pointer;
            
            &:hover {
                background: black;
                color: white;
            }
        }
    }

}// cta