/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;
    .scale(0.9);

    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;
        .opacity(0.6);
        .rotate(-5deg);
    }

    .cta-text button {
        .button-creator(32px, 170px, white, 16px);
        border: 1px double black;
        margin-top: 10px;
        .opacity(0.25);
        .rotate(5deg);

        &:hover {
            background: black;
            color: white;
        }
    } // .cta-text
}// .cta