/* Call To Action (CTA) Styles */

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;

    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;
    }

    .cta-text button {
        border: 1px double black;
        font-size: 16px;
				.button(170px, 32px, white);
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
					.transition(1s);
					.skew(-20deg, 0);
       }
   }
   img:hover {
				 .scale(1.2);
		}

}// cta

.button(@width, @height, @background) {
  width: @width;
  height: @height;
  background: @background;
}




