@phone: ~"(max-width: 400px)";
@tablet: ~"(max-width: 768px)";
@laptop: ~"(max-width: 1100px)";

// General Styles

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;

    @media @laptop {
        background: rgb(156, 148, 148);
    }
    @media @tablet {
        background: purple;
    }
    @media @phone {
        background: red;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
    color: color("#00ff00");
}

.container {
    width: 880px;
    margin: auto;
}
