// Header Styles
@import "variables.less";

header {
    width: 100%;
    display: flex;
    &:hover {
        .skew(20deg, 10deg);
    }
    nav {
        ul {
            margin-top: 140px; 
            width: 610px;
            justify-content: space-between;
            display: flex;

            li {

                a {
                    text-decoration: none;
                    color: #0c7c4e;

                    &:hover {
                        text-decoration: underline;
                        color: rgb(129, 26, 26);
                    }
                }
            }
        }
    }

    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;
    }
}// header