// Header Styles
@tia-maria: #BF360C;
@english-walnut: #3e2723;

header {
    width: 100%;
    display: flex;
    // .skew(5deg);

    nav {
        ul {
            margin-top: 140px; 
            width: 610px;
            justify-content: space-between;
            display: flex;

            li {

                a {
                    text-decoration: none;
                    color: @english-walnut;

                    &:hover {
                        text-decoration: underline;
                        color: @tia-maria;
                    }
                } // a
            } // li
        } // ul
    } // nav

    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;
        .translate(-40px);
    }
} // header