// GENERAL
@import "reset";
@import "variables";
@import "general-styles";

//more specific
@import "header";
@import "cta";
@import "main-content";
@import "contact";
@import "footer";

@phone: ~"(max-width: 400px)";
@tablet: ~"(max-width: 768px)";
@laptop: ~"(max-width: 1100px)";

@tinted-color: tint(blue, 10%);
@shaded-color: shade(red, 40%);

.button-creator(@width, @height, @font-weight) {
  width: @width;
  height: @height;
  font-weight: @font-weight;
}

h1,
h2,
h3,
h4,
h5 {
  color: @shaded-color;
  @media @laptop {
    font-size: 3rem;
  }
  @media @tablet {
    font-size: 2rem;
  }
  @media @phone {
    font-size: 1.5rem;
  }
}

p {
  color: @tinted-color;
}

.copyright {
  .opacity();
  .skew (15deg, 15deg);
}

button {
  color: crimson;
  text-decoration: underline;
  border-radius: 10px;
  .button-creator(150px, 150px, 400);
}
