/* Main Content Styles */

.main-content {
   border-top: 2px solid black;
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 14px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

.features {
  color: white;
  .custom-button(width, height, #333333)
}

.about {
  color: white;
  .custom-button(width, height, #FFBC67)
}

.services {
  color: white;
  .custom-button(width, height, #DA727E)
}

.product {
  color: white;
  .custom-button(width, height, #AC6C82)
}

.vision {
  color: white;
  .custom-button(width, height, #455C7B )
}