/* Main Content Styles */

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
}

.main-content .top-content {
    display: flex;
    justify-content: space-around;
}

.main-content .middle-img {
    display: block;
    margin: 30px auto;
    &:hover {     // & means this could also be .middle-img:hover
			.opacity(0.8);
	 }
   
}

.main-content .bottom-content {
    display: flex;
    justify-content: space-around;
}

.main-content .bottom-content p {
    padding-right: 20px;
}

h4 {
  color: darken(#b2fff2, 15%);
  #main > .button; 			 
}

#main {
   .button {
       width: 75px;
       height: 25px;
       border: 1px solid black;
		   text-align: center;
		   padding-top: 4px;
     }
 }

#features {
   color: darken(#98fb98, 15%);
		&:hover {
			border-radius: 50%;
			.transition(1s);
		}
}

#about {
   color: darken(#b2fff2, 15%);
   &:hover {
		 .skew(-20deg, 0);
  }
}

#services {
	color: darken(#d8bfd8, 15%);
	&:hover {
		.scale(1.2);
	}
}

#product {
   color: lighten(#ffb6c1, 5%);
	 &:hover {
		 .rotate(0.5turn);
	}
}

#vision {
   color: darken(#deb887, 15%);
	 background: yellow;
	 &:hover {
		 .transition(2s);
		 .opacity(0.5);
	 }
}

#contact {
  color: darken(#ff6961, 5%);
  background: navy;
	&:hover {
		.transition(3s);
    background: lighten(navy, 50%);   
  }
}
