@keyframes skewIt {
  0% {
    .skew(45deg, 0);
  }
  100% {
    .skew(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    .opacity(0);
  }
  100% {
    .opacity(1);
  }
}

@keyframes spin {
  0% {
    .rotate(0);
  }
  100% {
    .rotate(1080deg);
  }
}

@keyframes colorful {
  0% {
    background-color: white;
    color: black;
  }
  35% {
    color: black;
  }
  50% {
    background-color: #0099fb;
    color: white;
  }
  65% {
    color: black;
  }
  100% {
    background-color: white;
    color: black;
  }
}
