//Keyframe Animations Here

@keyframes bounce {
    0% {transform: translateY(0px);}
    25% {transform: translateY(-1px);}
    50% {transform: translateY(-2px);}
    65% {transform: translateY(-3px);}
    80% {transform: translateY(-2px);}
    95% {transform: translateY(-1px);}
    100% {transform: translateY(0px);}
}