@keyframes skewIt {
  0% {
    .skew(45deg, 0);
  }
  100% {
    .skew(0, 0);
  }
}

@keyframes fadeIn {
  0% {
    .opacity(0);
  }
  100% {
    .opacity(1);
  }
}

@keyframes spin {
  0% {
    .rotate(0);
  }
  100% {
    .rotate(1080deg);
  }
}

@keyframes colorful {
  0% {
    background-color: hsl(0, 100%, 80%);
  }
  25% {
    background-color: hsl(90, 100%, 80%);
  }
  50% {
    background-color: hsl(180, 100%, 80%);
  }
  75% {
    background-color: hsl(240, 100%, 80%);
  }
  100% {
    background-color: hsl(360, 100%, 80%);
  }
}
