.anim-container {

  .left {
    position: fixed;
    z-index: 5;
    height: 150px;
    width: 200px;
    top: 10%;
    left: 0;
    .rotate-corner(-90deg; bottom; left;)
  }

  #leftie{
    background-image: ~"url('https://raw.githubusercontent.com/Jstoss/Preprocessing-Part-II/master/img/robbie.png')";
    background-size: contain;
  }

  .right {
    position: fixed;
    z-index: 5;
    height: 150px;
    width: 150px;
    background: lightgray;
    top: 20%;
    right: 0;
    .rotate-corner(90deg; bottom; right;)
  }

  #rightie {
    background-image: ~"url('https://raw.githubusercontent.com/Jstoss/Preprocessing-Part-II/master/img/shout.png')";
    background-size: contain;
    // background-repeat: no-repeat;
  }

  .bottom {
    position: fixed;
    z-index: 5;
    height: 150px;
    width: 150px;
    background: lightgray;
    bottom: 0;
    right: 50%;
    transform-origin: bottom center;
    transform: rotateZ(180deg);
  }
}
