button {
    background: teal;
    color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    border: 0;
    transition: all .2s;
    width: 100%;
    
    &:hover {
        background: lighten(teal, 10%);
    }
    &:active {
        transform: translateY(2px);
        background: lighten(teal, 5%);
        box-shadow: 0 2px 1rem rgba(black, .5);
    }
    &:focus, &:active {
        outline: none;
    }
}