// Contact Styles

.contact {

    p {
        margin: 20px 0;

        @media @tablet {
            margin: 20px 20px 35px;
        }//.contact 
     
        @media @phone {
            margin: 20px;
        }//.contact
    }
   
}