// Contact Styles

.contact {
    margin: 0 5%;
    font-size: 1.6rem;

    @media @tablet{
        margin-left: 2.6%;
        margin-top: 30px;
        width: 40.9%;
        margin-bottom: 0;
    }

    @media @phone{
        align-self:center;
        width: 90%;
    }

    p {
        margin: 15px 0;
    }
   
}