// Contact Styles

.contact {

	@media @tablet{
                        margin-top: 4%;
                        margin-left: 3%;
                        margin-right: 53%;
                        }

       @media @phone{
                        margin-left: 5%;
                        margin-right: 5%;
                        margin-top: 10%;
                        margin-bottom: 10%;
                        }








    p {
        margin: 20px 0;
	@media @tablet{
                        margin-top: 4%;
                        }
    }
   
}
