.contact {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    .content-section {
        width: 70%;
        border: 1px solid red;
        padding: 10px;
    }
    .contact-form {
        width: 30%;
        border: 1px solid red;
        padding: 10px;

    }

}