// Call To Action (CTA) Styles

.cta {
    display: flex;
    margin-top: 72px;
    justify-content: flex-end;

    @media @tablet-min-max {
        max-width: 100%;
        justify-content: center;
    }

    @media @mobile {
        max-width: 100%;
        justify-content: center;
        padding-left: 17%;
        margin-top: 11%;
    }

    .cta-text {
        font-size: 72px;
        text-align: center;
        letter-spacing: 5px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
        margin: 0 82px 0 0;
    }

    .cta-text button {
       .button
    }
}// cta