// Animations start here
@-webkit-keyframes scfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes scfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fscfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scfadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scfadeIn (@animname: "", @animdur: "", @filler: "") {
    animation-name: @animname;
    animation-duration: @animdur;
    animation-fill-mode: @filler;
}