.footer {
  background: @sandy-beach;
  border-top: 2px dashed @navigation-border;
  width: 100%;
  
  p {
    color: @font-color;
    font-size: 1.6rem;        
    padding: 20px;
    text-align: center;
  }
}