.footer {
  width: 100%;
  background-color: #fcf4e7;
  border-top: 2px dashed #C0C0C0;
}
.footer p {
  display: block;
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
