@import "variables";
@import "mixins";



.footer {
  width: 100%;
  background-color: @sandy-beach;
  border-top: @hr;
  .flexRowC(flex; row; center;)
  
  
  p {
    
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}