
.choose1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px dashed black;
    margin-right: auto;
    margin-left: auto;

    img {
        margin-bottom: 25px;
    }
    button {
        width: 25%;
        cursor: pointer;
    }
}

.choose2 {
    .choose1;
}