// General Styles

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
	background-image: linear-gradient(90deg, blue, green);
		@media (max-width: 768px){
	background-image: linear-gradient(90deg, @color_list);
	}	 
		@media (max-width: 400px){
	background-image: linear-gradient(90deg, @tablet_colors);
	}
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.container {
    width: 880px;
    margin: auto;
	background:fade(white, 60%);
}