// General Styles

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

#headings > .general-styles();

.container {
    width: 880px;
    margin: auto;
}