// General Styles

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size:62.5%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

body {
    background:@secondary-color;
}

.container {
    width: 100%;
    max-width:880px;
    margin: 0 auto;
    background:@primary-color;
    .box-shadow (10px 5px 5px black);
}

h4, p {
    font-size: 1.6rem;
    line-height: 1.2;
    @media @phone {
        margin-bottom:1.4rem;
    }
}