// Header Styles

header {
    width: 100%;
    display: flex;

    @media @phone {
      flex-wrap: wrap;
      justify-content: center;
    }//phone media end
  
    nav {
      margin-top: 40px; 
      width: 100%;
      justify-content: space-between;
      display: flex;

      @media @tablet {
        width: 59.50%;
        margin-left: 2.5%;
      
      }//media tablet end

      @media @phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
      }//phone media end
  
      a {
        text-decoration: none;
        color: #b0b0b0;
  
        &:hover {
            text-decoration: underline;
            color: black;

            @media @phone {
              background: gray;
            }// phone end
  
        }

        @media @phone {
          width: 100%;
          margin: 0;
          display: block;
          text-align: center;
          padding: 20px 0;
          font-size: 20px;
          border-bottom: 1px solid gray;
        }//phone end
      }
    }
  
    .logo {
        align-self: flex-end;
        margin: 28px 0 0 91px;

        @media @tablet {
            margin: 28px 0 0 8%;
        }// media tablet end

        @media @phone {
          order: -1;
        max-width: 100%;
        margin: 20px 0;
        }
    }
  }// header 