// Header Styles
header {
  width: 100%;
  display: flex;
  background-color: @header-bg-color;
  .flex-container;
  .major-structure(@header-bg-color);

  nav {
    width: 610px;
    .flex-container;

    a {
      .button;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        .button-hover;
      }
    }
  }
  .logo {
    align-self: flex-end;
    margin: 20px auto;
  }
} // header