.home {
  .CTA {
    margin-bottom: 10px;
    border-bottom: 2px dashed @navigation-border;
    padding-bottom: 9px;
    @media @mobile {
      padding: 0px 5% 10px;
    }
      img {
        margin-bottom: 20px;
      }
  }
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media @mobile {
      margin: 30px 5%;
    }

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @mobile {
        width: 100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @mobile {
        width: 100%;
        padding-left: 0;
      }

      img {
        border-radius: 10px;
        @media @mobile {
          height: 338px;
        }
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @mobile {
      flex-wrap: wrap-reverse;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media @mobile {
      width: 90%;
    }
    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile {
      flex-direction: column;
      padding: 28px 9% 0px;
      margin: 0px 25px;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media @mobile {
        width: 100%;
        margin-bottom: 57px;
      }
        .btn { 
          .buttons(20%, 84%);
          @media @mobile {
            .buttons(28%, 100%);
          }
      }
        }
  }
}