.home {
  
      @media @phone{
       width:100%;
      }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @phone{
      width:100%;

    }

   .top-text-content {
     padding-bottom: 2.27%;
    margin-bottom: 4.27%;
     border-bottom: 2px dashed @navigation-border;
     @media @phone{
      width:100%;
    }
   }
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @phone {
        flex-wrap: wrap;
        width:100%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media @phone {
        width:100%;
        padding-left:0%;
      }
      
      img {
        border-radius: 10px;
       
      }
      
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;
    @media @phone{
      width:100%;
    }
    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media @phone {
        flex-wrap: wrap-reverse;
        width:100%;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      
      @media @phone {
        width:100%;
        order:1;
        padding-right:0%;
      }
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

@media @phone {
  width:100%;
}
    .btn{
      font-size:1.6rem;
      .button-creator(195px,50px,teal,white)
      
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
   
    
  }
  
}// home