.contact {
  nav {
    .flexbox(space-around, center);
    flex-direction: column;
    border: 1px solid blue;
    h1 {
      color: @funbus;
      .Tshadow(3px, 3px, black);
    }
    div {
      .flexbox(space-evenly, center);
      width: 100%;
      border: 1px solid blue;
      a {
        font-size: 1.6rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
      }
    }
  }
}
