/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 60px;
  border-bottom: 1px dashed gray;
}
@media (max-width: 500px) {
  .main-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px;
    margin-top: 20px;
  }
}
.main-header h2 {
  font-size: 40px;
  font-weight: bold;
}
.main-header h2 .main-header a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  margin-right: 20px;
  padding: 0 20px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .main-header h2 .main-header a {
    margin-top: 30px;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: lightyellow;
}
.footer p {
  text-align: center;
  color: gray;
  font-size: 1.6rem;
  padding: 20px;
  font-weight: bold;
}
.content-section {
  margin: 30px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  border-bottom: 1px dashed gray;
}
@media (max-width: 500px) {
  .content-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  }
}
.content-section .text-content {
  width: 50%;
  padding-right: 5%;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .content-section .text-content {
    width: 105%;
    padding: 0;
    margin-left: 15px;
  }
}
.content-section .img-content {
  width: 45%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .content-section .img-content {
    width: 100%;
    padding: 0 5px;
  }
}
.content-section .img-content img {
  border-radius: 10px;
  margin-bottom: 30px;
}
.inverse-content {
  padding-bottom: 30px;
  border-bottom: 1px dashed gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .inverse-content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
  }
}
.inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
  margin-top: 40px;
  margin: 10px;
}
@media (max-width: 500px) {
  .inverse-content .img-content .img-fluid-rounded {
    margin-left: 20px;
  }
}
.content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
@media (max-width: 500px) {
  .content-destination {
    width: 90%;
    padding: 0 10px;
  }
}
.content-destination img {
  border-radius: 10px;
}
.content-pick {
  padding-top: 30px;
  border-top: 1px dashed gray;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .content-pick {
    flex-direction: column;
    align-content: center;
    margin: 30px;
  }
}
.content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .content-pick .destination {
    width: 90%;
    align-content: center;
    padding: 0 30px;
  }
}
.content-pick .btn {
  height: 10px;
  width: 20rem;
  border-radius: 15px;
  background-color: teal;
  color: #FFFFFF;
  padding: 0 40px 40px;
  margin: 20px 0;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
  line-height: 35px;
  border-top: 5px;
}
@media (max-width: 500px) {
  .content-pick .btn {
    width: 30rem;
    border-radius: 8px;
    background-color: #17A2B8;
  }
}
.content-pick .btn .Welcome {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .content-pick .btn .Welcome {
    width: 90%;
    margin: 20px;
  }
}
.content-pick .btn .Welcome .fun-bus {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .content-pick .btn .Welcome .fun-bus {
    width: 90%;
    margin: 0 auto;
  }
}
