//Using Escape 
@media @mobile {
    .navigation {
    display : flex;
    flex-wrap : wrap ;
    justify-content : center;
    align-items: center;
    }
  
    .content-section {
      display : flex;
      flex-wrap : wrap;
      border : 1px solid yellow;

      .text-content {
        justify-content: center;
          border : 1px solid green;
       }

       .img-content {
           border : 1px dashed orange;
           
       }
    }


  }