
header {
  @media @tablet {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media @phone {
    flex-wrap: wrap;
    justify-content: center;
  }
}
nav {
@media @tablet {
    width: 59%;
    margin-left: 3%;
  }

  @media @tablet {
    width: 100%;
  }

  @media @phone {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  &:first-child {

    @media @phone {
      border-top: 1px solid gray;
    }
  }

  a {
    @media @phone {
      width: 100%;
      display: block;
      text-align: center;
      padding: 20px 0;
      border-bottom: 1px solid gray;
    }
  }
}
.logo {
    @media @tablet {
      margin: 28px 0 0 8%;
    }

    @media @tablet {
      order: -1;
      display: block;
      margin: 30px auto 0;
    }

    @media @phone {
      margin: 20px 0;
    }
}
.main-content {
  @media @tablet {
    .skew (@deg: 0deg, @deg2: 0deg);
  .middle-img {
    width: 100%;
    }
  }
}
.bottom-content {
      @media @phone {

     flex-wrap: wrap;
     align-content: space-between;
     height: 440px;
   }
 }
 .cta {
  @media @tablet {
     justify-content: center;
   }

   @media @phone {
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .cta-text {

     @media @tablet {
       margin: 0 5% 0 0;
     }

     @media @phone {
       margin: 0;
     }

     h1 {

       @media @tablet {
         letter-spacing: 0;
       }
     }

   }// cta-text

   img {
     @media @tablet {
       max-width: 100%;
       margin-right: 2%;
     }

     @media @tablet {
       display: none;
     }

     @media @phone {
       display: block;
       max-width: 80%;
       margin: 55px 0 0 0;
     }
   }
 } // cta
