// Mixins in here
.center() {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
.navBar(){
	flex-direction: row;
	justify-content: flex-end;
	margin: 5%;
	margin-bottom: 3%;
	@media (max-width:500px) {
		flex-direction: column;
	}
  }

  .button() {
      padding-left: 15px;
      padding-right: 15px;
      padding-top:7px;
      padding-bottom:7px;
      line-height: 1.5;
      font-size: 1.6rem;
      font-family: 'Roboto', sans-serif;
      color:white;
      background-color: @button-bg;
      border-radius: 10px;
      border-color: 1px solid @navigation-border;
      text-align: center;
  }