.btn {
  color: white;
  background-color: #17A2B8;
  font-size: 1.9rem;
  display: block;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 170px;
  height: 40px;
}
.btn:hover {
  background-image: linear-gradient(aquamarine, #006280);
}
