#namespace() {
    .header-style {
        width: 100%;
        display: flex;
    }
    
     .ul1-style {
        margin-top: 40px; 
         width: 610px;
        justify-content: space-between;
        display: flex;
     }
     .a1-style {
        text-decoration: none;
        color: #b0b0b0;
    }
    .hover-style {
        text-decoration: underline;
        color: black;
    }
    .logo-style {
        align-self: flex-end;
        margin: 28px 0 0 91px;
    }
    .button-style {
        border: 1px double black;
        font-size: 16px;
        background: white;
        width: 170px;
        height: 32px;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            background: black;
            color: white;
        }
    }
    .p-style {
        padding-right: 20px;
    }
}