#names-oof() {
  .ul1-styles {
    margin-top: 40px;
    width: 610px;
    justify-content: space-between;
    display: flex;
  }
  .button1-styles {
    color: white;
    margin: 10px 0 10px 0;
    .button-creator(150px, 35px, gray);
    .box-shadow(5px 5px 20px gray);
    &:hover {
      background: darken(gray, 25%);
    }
    .p1-styles {
      padding-right: 20px;
    }
  }
}
