#namespace-stuffs() {
  .ul1-styles {
    margin-top: 40px;
    width: 610px;
    justify-content: space-between;
    display: flex;
  }
  .button1-styles {
    color: white;
    margin: 10px 0 10px 0;
    .button-creater(150px, 35px, grey);
    .box-shadow(5px 5px 20px grey);
    &:hover {
      background: darken(grey, 25%);
    }
  }
  .p1-styles {
    padding-right: 20px;
  }
}
