// Navigation Styles here
//

header nav {
    display: flex;
    justify-content: space-around;

    @media @phone {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 10px;
    }

    a {
        padding: 0 5%;
        text-decoration: none;
        color: black;
        font-size: 1.6rem;

        @media @phone {
        }
    }


}
