// Tyson's styles

#tyson {

    .header {
        position: relative;
        color: #037EB9;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 120%;
            width: 120%;
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,.4)), color-stop(100%, rgba(255,255,255,0)));
            background: -webkit-linear-gradient(top, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 100%);
            background:    -moz-linear-gradient(top, rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 100%);
            background:     -ms-linear-gradient(top, rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 100%);
            background:      -o-linear-gradient(top, rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 100%);
            background:         linear-gradient(top, rgba(255,255,255,.7) 0%, rgba(255,255,255,0) 100%);
            pointer-events: none;
        }
    }

    .button {
        text-transform: uppercase;
        transition: all .3s ease-out;
    }

    .p {
        opacity: .8;
    }
}