// Variables

//mobile view text and header background color
@mobile-color: blue;
@mobile-color-two: green;

//tablet view text and header background color
@tablet-color: pink;
@tablet-color-two: orange;