
// Color assignments 
@button-bg: @eastern-blue;
@font-color: @shark;
@footer-bg: @sandy-beach;
@main-bg:  @white;
@navigation-border: @silver;

// Colors
@eastern-blue: #17A2B8;
@sandy-beach: #FFEBCD;
@shark: #212529;
@silver: #C0C0C0;
@white: #FFFFFF;

@mobile: ~'(max-width: 500px)';