// Main Content Styles

.main-content {
   border-top: 2px solid black; 
   border-bottom: 2px solid black;
   margin: 75px 0 35px 0;
   padding: 35px 0;
   font-size: 16px;
   line-height: 18px;
   .border-radius;

   .top-content {
        display: @display;
        justify-content: space-around;

        .button-1 {
            .button-creator(@A-width,60px,rgb(49, 45, 45), rgb(119, 201, 119));
        } 
        .button-2 {
            .button-creator(@A-width,60px,rgb(49, 45, 45), rgb(206, 109, 85));
        } 
  
    }
    .middle-img {
        display: block;
        margin: 30px auto;
    }

    .bottom-content {
        display: @display;
        justify-content: space-around;

        p {
            padding-right: 20px;
        }
        .button-3 {

            .button-creator(@A-width,40px,rgb(49, 45, 45), rgb(112, 54, 179));
        } 
        .button-4 {
            .button-creator(@A-width,60px,rgb(18, 22, 18), rgb(154, 206, 201));
        }
        .button-5 {
            .button-creator(@A-width,50px,rgb(75, 107, 128), rgba(255, 174, 0, 0.979));
        }
    }
}// main-content