* {
    box-sizing: border-box;
}


.wrapper {
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: dashed 1px grey;
    height: 60px;
}
h1 {
    margin-left: 70px;
    
}
.navigation {
display: flex;
justify-content: space-around;
width: 750px;
}
nav:last-child {
margin-right: 750px;
}
