// Variables
@primary-color: green;
@secondary-color: rgb(197, 129, 2);
@common-color: black;
@background-color: #9496aa;
@primary-font: 'Titillium Web', sans-serif;
@second-font: 'Bangers', cursive;
@display: flex;
@middleman: center;
@dimes: 10px;
@AllOrNothing: 100%;
@B-width: 150px;
@A-width: 100px;
@A-height: 60px;
@B-height: 80px;