* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
@media only screen and (max-width: 1100px) {
  body {
    background-color: #3FE915;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: #F70A0A;
  }
}
@media only screen and (max-width: 479px) {
  body {
    background-color: #1539E9;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.container {
  width: 880px;
  margin: auto;
}
